<footer class="site-footer">
  <div class="site-frame">
    <div class="site-footer__panel">
      <div class="site-footer__simple">
        <p class="site-footer__name">St Joseph's Church, Ansdell</p>
        <p class="site-footer__meta">16 Woodlands Road, Ansdell, Lytham St Annes, FY8 4EP</p>
        <div class="site-footer__links">
          <a href="tel:01253737037">01253 737037</a>
          <a href="mailto:sjsp.lsa@lrcd.org.uk">sjsp.lsa@lrcd.org.uk</a>
          <a href="tel:07840112265">St Joseph's Care: 07840 112265</a>
        </div>
      </div>

      <div class="site-footer__bottom">
        <p>&copy; {{ now.Format "2006" }} {{ .Site.Title }}</p>
      </div>
    </div>
  </div>
</footer>
