<div class="gallery gallery--one">
  {{ $galleryPath := "static/images/gallery/one" }}
  {{ $publicPath := "images/gallery/one" }}
  {{ $files := readDir $galleryPath }}
  {{ range $files }}
    {{ $imagePath := printf "%s/%s" $galleryPath .Name }}
    {{ $imageConfig := imageConfig $imagePath }}
    <a href="/{{ $publicPath }}/{{ .Name }}" target="_blank" rel="noreferrer" class="gallery-item">
      <img
        src="/{{ $publicPath }}/{{ .Name }}"
        alt="{{ .Name }}"
        width="{{ $imageConfig.Width }}"
        height="{{ $imageConfig.Height }}"
        loading="lazy"
        decoding="async"
      >
    </a>
  {{ end }}
</div>
